@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>This project demonstrates the usage of Cloud Connector API with C# server calls and with Javascript directly from client browser</p>
            <p>
                To learn more about Cloud Connector
                <a href="http://www.datwendo.com" title="Datwendo Website">http://www.datwendo.com</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from Datwendo Cloud Connector.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Start a free 15 days test.
        <a href="http://www.datwendo.com/services/index">Register and start a test…</a>
    </li>

    <li class="two">
        <h5>Go to our GitHub repositories</h5>
        And find samples and models for your various environments.
        <a href="https://github.com/datwendo">Access GitHub…</a>
    </li>

    <li class="three">
        <h5>Read more abour Datwendo Service Options</h5>
        <a href="http://www.datwendo.com/demo/presentation">Products /Options / Features / SLA …</a>
    </li>
</ol>
